#subscriptions {
    background-color: $light;
    padding: 5rem 0;
    text-align: center;

    .card {
        overflow: hidden;
        transition: transform 0.3s;
        &:hover {
            transform: translateY(-5px);
        }
    }

    .btn {
        background-color: $accent;
        color: $light;
        font-weight: 600;
        &:hover { background-color: $dg; }
    }
}
